#whole{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 30p; */
    background: brown;

    #monitor{
        height: 40vh;
        border: solid 1px black;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: rgb(255, 255, 255);
        text-transform: capitalize;
        margin-bottom: 30px;
        border-radius: 10px;
        background-color: blue;
    }

    #keyboard{
        height: 20vh;
        border: solid 1px black;
        width: 500px;
        border-radius: 10px;
        background-color: crimson;
        padding-top: 10px;

        button{
            font-size: 22px;
            padding-inline: 4px;
            margin-inline: 5px;
            margin-bottom: 6px;
        }
    }

}

